<div class="home">
    <div class="loginPageTitle">Welcome to ExpenseView</div>
    <br>
    <div class="welcome-text">
      Welcome to ExpenseView ExpenseView is a <b>free</b>, easy to use application that helps you to understand how you're spending
      your money.
      <br>
      <br> The application is still in beta mode, so if you encounter any problems or have any suggestions please contact us.
      <br>
      <br> To use the app, simply do the following:
      <br> 1. Create categories to track your expenses or income (i.e. Groceries, Utilities, Gas, etc.)
      <br> 2. Then just add transactions for those categories.
      <br>
      <br> You can also add expenses, through our Google gadget or even on the go with our mobile web app.
      <br>
      <br> ExpenseView will then take this data and provide you an overall view of your expenses, income and your potential savings.
      <br>
      <br>
      <img class="graph-image" src="../assets/images/SampleGraph.gif">
    </div>
</div>


